/* ---- layout ---- */

.center-wrapper {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

.border-blue {
    border: 2px dashed blue;
}

.margin-md {
    margin-top: 200px;
}

/* ---- layout ---- */